*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}
*::placeholder{
    color: #85CB33;
    font-weight: bold;
}
*::selection{
    background: #85CB33;
    color: #fff;
}
.menu{
    background-color: #85CB33;
    padding: 2px;
}
.menu li{
    display: inline-block;
    padding: 2px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#login-form{
    width: 50%;
    height: 30%;
    background: #eded;
}
#login-form h4,#register-form h4{
    color: #85CB33;
    margin-left: 40%;
}
#login-form input,#register-form input{
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
    outline: none;
    color: #85CB33;
}
#login-form button,#register-form button{
    border: none;
    outline: none;
    background: #85CB33;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
}
#register-form{
    position: absolute;
    top: 40px;
    left: 52%;
    width: 47%;
    height: 120px;
    background: #edeeed;
}
#register-form input[type="email"]{
    width: 50%;
    position: absolute;
}
#register-form input[type="password"]{
    width: 50%;
    margin-left: 320px;
    position: absolute;
}
.divisor{
    height: 20px;
    width: 100%;
    background: #85CB33;
    margin-top: 10px;
}
.trending-posts{
    background: #eded;
}
.trending-posts h4{
    color: #85CB33;
}
.trending-1 button{
    border: none;
    outline: none;
    background: none;
    padding: 2px;
    cursor: pointer;
}
.trending-1 button i{
    color: #85CB33;
    font-size: 30px;
}
.trending-1 button:hover i{
    color: #0A122A;
    transition: all .3s ease;
}
#likes-count,#comments-count,#post-date,i[class="fas fa-calendar-alt"]{
    color: #85CB33;
    font-weight: bold;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #85CB33;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
footer a:hover{
    color: #0A122A;
    text-decoration: underline;
    transition: all .3s ease;
    font-weight: bold;
}